.passenger-info-container{
    width:300px;
    height: 600px;
    padding: 5px;
    border: 1px solid black;
    font-size: large;
    background-color: rgb(250, 249, 249);
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    @media screen  and (max-width: 1000px){
        display: grid;
        height:320px;
        width: 75vw;
        grid-template-columns: repeat(3, 1fr);
        
    }
    @media screen  and (max-width: 700px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
    @media screen  and (max-width: 450px){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 700px;
        
    }
    .passenger-info-heading{
        width: inherit;
        font-size: larger;
        font-weight: bold;
        background-color: darkgrey;
        @media screen  and (max-width: 1000px){
            height: 40px;
            width:75vw;
            grid-column: span 3;
        }
        @media screen  and (max-width: 700px){
            grid-column: span 2;
        }
        @media screen  and (max-width: 450px){
            grid-column: span 1;
        }
    }
    .passenger-info-items{
        // width: inherit;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.passenger-info-unoccupied{
    margin-bottom: 340px;
    @media screen  and (max-width: 1000px){
        margin-bottom: 10px;
    }
}