.all-passenger-description-container{
    padding: 5% 10%;
    display: flex;
    font-family: 'Open Sans Condensed';
    flex-direction: column;
    align-content:center ;
    justify-content: center;
    font-size: 18px;
    @media screen and (max-width: 500px){
        padding: 5% 5%;
        font-size: 14px;
        }
    .alp-filter{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: inherit;
        margin-bottom: 15px;
    }
    .alp-discription-title{
            width: 90%;
            padding: 2px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid black;
            .alp-heading{
                    width: 15%;
                    font-weight: bold;
                    font-size: 20px;
                    @media screen and (max-width: 500px){
                        font-size: 12px;
                    }
            }
        }
}

// for each passenger details component
.alp-passenger-container{
    display: flex;
    flex-direction: column;
    .alp-passenger-discription{
        width: 90%;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .pointer{
            cursor: pointer;
        }
        .alp-discription{
                width: 15%;
                font-size: 18px;
                @media screen and (max-width: 800px){
                    font-size: 12px;
                }
                @media screen and (max-width: 600px){
                    font-size: 10px;
                }
        }
    }
    .alp-update{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media screen and (max-width: 550px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.ancliaryServices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}