.seat-map-arrangement{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 10px;
    @media screen and (max-width: 400px){
        column-gap: 2px;  
      }
}


// cadetblue
// chartreuse
// coral
// cornflowerblue;
// darkgrey
// gainsboro
//blanchedalmond
