.seat-map-arrangement{
    // width: 70%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(10,1fr);
    row-gap: 5px;
    @media screen and (max-width: 400px){
        column-gap: 2px;  
      }
}


// cadetblue
// chartreuse
// coral
// cornflowerblue;
// darkgrey
// gainsboro
//blanchedalmond
