// .seat-map-container{
//   font-family: 'Open Sans Condensed';
//    width: 80%;
//    margin: 5% 10% ;
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    align-items: center;
//    @media screen and (max-width: 1000px){
//      width: 80%;  
//      flex-direction: column;
//      align-content: space-around;
//      margin: 5% 15%  ;  
//    }
//    @media screen and (max-width: 400px){
//     width: 100%;  
//     flex-direction: column;
//     margin: 5% 0%  ;  
//   }
   .seat-map-layout-container{
        font-family: 'Open Sans Condensed';
        display: flex;
        width: 60%;
        margin: 5% 20% ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 930px;
        @media screen and (max-width: 600px){
          height: 750px;
          margin: 5% 5% ;
          font-size: 10px;
        }
        .seat-map-layout-discription{
          width: 80%;
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(60px,1fr)) ;
          .item-description{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
   }    
// }