.seprator-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    .seprator{
        cursor: auto;
        font-size: 30px;
        color: rgb(138, 84, 84);
        margin-left:20px;
        @media screen and (max-width: 400px){
            margin-left:5px;
          }
        
    }
}